<nz-modal
  [nzVisible]="isVisible"
  nzTitle="Actualizar División"
  (nzOnCancel)="handleCancel()"
  [nzFooter]="modalFooter"
  [nzWidth]="1000"
  nzClassName="division-modal">

  <ng-container *nzModalContent>
    <form nz-form [formGroup]="divisionForm" class="division-form">
      <nz-form-item>
        <nz-form-label [nzRequired]="true" nzFor="divisionName">
          Nombre de la división
        </nz-form-label>
        <nz-form-control nzErrorTip="¡El nombre de la división es requerido!">
          <input
            nz-input
            id="divisionName"
            formControlName="name"
            placeholder="Nombre de la división"
            class="form-input"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="parentDiv">
          División superior
        </nz-form-label>
        <nz-form-control>
          <nz-select
            id="parentDiv"
            formControlName="parentDivision"
            nzPlaceHolder="Seleccionar división"
            class="form-select">
            <nz-option *ngFor="let div of availableDivisions" [nzValue]="div.id" [nzLabel]="div.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="ambassador">
          Nombre del embajador (Opcional)
        </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            id="ambassador"
            formControlName="ambassador"
            placeholder="Nombre del embajador"
            class="form-input"/>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()" class="btn-cancel">Cancelar</button>
    <button nz-button nzType="primary" (click)="handleSubmit()" class="btn-accept">Actualizar</button>
  </ng-template>
</nz-modal>
